<h1>Articles</h1>
Our blog has <%= Article.public_count %> articles and counting!
 <%= form_tag root_path, :method => "get" do %>
<div class="input-group">
  <%= text_field_tag :search, nil, placeholder: "Search products", class:
  "form-control" %>
  <div class="input-group-btn">
    <button class="btn btn-secondary">
      Search
    </button>
  </div>
</div>
<% end %>

<table class="table table-secondary table-stripped">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Profile Image</th>
  </tr>

  <% @articles.each do |article| %> <% unless article.archived? %>

  <tr>
    <td><%= article.title %></td>
    <td><%= article.body %></td>
    <% if article.profile_image.attached? %>
    <td>
      <%= image_tag article.profile_image, style: "width:50px;height:50px;" %>
    </td>
    <%end%>
  </tr>
  <%end%> <%end%>
</table>

<%= link_to "New Article", new_article_path %>
